In [1]:
import pandas as pd

In [4]:
predictions_DF = []

csv_names = ['Final_HCHO_Pred/Colombo_HCHO_Pred.csv', 'Final_HCHO_Pred/Jaffna_HCHO_Pred.csv', 'Final_HCHO_Pred/Kandy_HCHO_Pred.csv', 'Final_HCHO_Pred/Kurunegala_HCHO_Pred.csv', 'Final_HCHO_Pred/Matara_HCHO_Pred.csv', 'Final_HCHO_Pred/Monaragala_HCHO_Pred.csv', 'Final_HCHO_Pred/Nuwara_E_HCHO_Pred.csv']

for file in csv_names:
    data_frame = pd.read_csv(file)
    predictions_DF.append(data_frame)

predi_combined = pd.concat(predictions_DF, ignore_index=True)
predi_combined.reset_index(drop=True, inplace=True)

predi_combined.to_csv('pred_combined_cleaned.csv', index=False)
predi_combined

           Date  HCHO_Amount      Location
0    2024-01-01     0.000143       Colombo
1    2024-01-02     0.000139       Colombo
2    2024-01-03     0.000165       Colombo
3    2024-01-04     0.000170       Colombo
4    2024-01-05     0.000164       Colombo
..          ...          ...           ...
205  2024-01-18     0.000113  Nuwara Eliya
206  2024-01-19     0.000089  Nuwara Eliya
207  2024-01-20     0.000076  Nuwara Eliya
208  2024-01-21     0.000139  Nuwara Eliya
209  2024-01-22     0.000074  Nuwara Eliya

[210 rows x 3 columns]